{% extends "vive/base.html" %}
{% block content %}
    <div class="container content-section" style="padding:20px;line-height:1.8;">
        <h2>You have been logged out!</h2>
        <footer class="card-footer field content" style="padding-top: 1em;">
            <p class="control text-muted">
                <button class="button is-small">
                <a href="{% url 'login' %}">Log in again</a>
                </button>
            </p>
        </footer>
    </div>
{%  endblock content %}