{% extends "vive/base.html" %}

{% block content %}
    <div class="container" style="padding-bottom: 1em">
        <p>Welcome to the viving section of the life where u will get to know why were u incarnated!,:(<br><p/>
    </div>
    <div class="container" style="padding-bottom: 1em">
    <b>What is incarnation?<br></b>
        Incarnation literally means embodied in flesh or taking on flesh. It refers to the conception and birth of a sentient being who is          the material manifestation of an entity, god, spiritual or universal force whose original nature is immaterial.
    </div>
    <div class="container" style="padding-bottom: 1em">
    <b>Why do we incarnate?<br></b>
                Lord Shri Krishna has answered this in the Shrimad Bhagwat Gita

        When Arjuna asks Lord Shri Krishna why does God incarnate, then Lord Krishna answers this to Arjuna with a shloka.

        That verse is -
<br>
        यदा यदा हि धर्मस्य ग्लानिर्भवति भारत ।<br>
        अभ्युत्थानमधर्मस्य तदात्मानं सृजाम्यहम् ॥७॥<br>
        परित्राणाय साधूनां विनाशाय च दुष्कृताम् ।<br>
        धर्मसंस्थापनार्थाय सम्भवामि युगे युगे ॥८॥<br>
        (श्रीमद्भगवद्गीता, अध्याय ४)
<br>
        Spirituality: When religion starts to get lost and iniquity starts moving, then I create myself, that is, I am born. For the protection of the gentlemen and the destruction of the wicked and the restoration of religion, I descend into different eras.
    </div>
{% endblock %}