button{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
  }
  button:hover{
    border-color: aqua;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    transform: translateY(-0.5em);
    cursor: pointer;
  }
  h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
  p{
    font-family: sans-serif;
  }
  img{
    width: 30%;
  
    margin: 1.4%;
  }
  body{
    font-family: Roboto;
    align-items: center;
    background-color:cyan;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    
  }