.container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
#ball{
    max-width: 22%;
    background-color: whitesmoke;
}
.title{
    padding-bottom: 1em;
}
#pnt{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}
.subtitle{
    padding-top: 0.2em;
    padding-bottom: 0.2 em;
}
html{
    background-color: wheat;
}